<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fgo.saber.auth.provider.dao.DeptMapper">
  <!--<cache />-->
  <resultMap id="BaseResultMap" type="fgo.saber.auth.provider.model.entity.Dept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    dept_id, name, operate_ip, operate_time, operator, parent_id, remark, seq
  </sql>
  <sql id="Alias_Column_List">
    ${alias}.dept_id, ${alias}.name, ${alias}.operate_ip, ${alias}.operate_time, ${alias}.operator, ${alias}.parent_id, ${alias}.remark, ${alias}.seq
  </sql>
  <select id="findDeptsWithParentId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sb_dept
    where parent_id = #{parentId}
    order by seq asc
  </select>

  <select id="getDeptFootWithDeptName" resultMap="BaseResultMap">
    select
    <include refid="Alias_Column_List"><property name="alias" value="sd"/></include>
    from sb_dept sd
    left join (
      select DISTINCT dept_id from sb_dept
    ) di on sd.parent_id = di.dept_id
    where di.dept_id is null
    <if test="deptName != null">
      and sd.name like concat('%', #{deptName}, '%')
    </if>
    limit 15
  </select>

  <select id="findDeptDtoList" resultType="fgo.saber.auth.api.dto.DeptDto">
    select
      sd.dept_id deptId, sd.name, sd.operate_ip operateIp, sd.operate_time operateTime,
      sd.operator, sd.parent_id parentId, sd.remark, sd.seq, sd2.name parentName
    from sb_dept sd
    left join sb_dept sd2 on sd2.dept_id = sd.parent_id
    <where>
      <if test="deptParam.name != null">
        sd.name like concat('%', #{deptParam.name}, '%')
      </if>
    </where>
  </select>

</mapper>