<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fgo.saber.auth.provider.dao.DeptMapper">
  <resultMap id="BaseResultMap" type="fgo.saber.auth.provider.model.entity.Dept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    dept_id, name, operate_ip, operate_time, operator, parent_id, remark, seq
  </sql>
  <select id="findDeptsWithParentId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sb_dept
    <where>

    </where>
    where dept_id = #{parentId}

  </select>

</mapper>