<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fgo.saber.auth.provider.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="fgo.saber.auth.provider.model.entity.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, name, operate_ip, operate_time, operator, remark, status, type
  </sql>

  <sql id="ALIAS_Column_List">
    ${alias}.role_id, ${alias}.name, ${alias}.operate_ip, ${alias}.operate_time, ${alias}.operator, ${alias}.remark, ${alias}.status, ${alias}.type
  </sql>

  <select id="findRoleList" resultType="fgo.saber.auth.provider.model.entity.Role">
    select
    <include refid="Base_Column_List"/>
    from sb_role sr
    <where>
      <if test="name != null">
        sr.name like concat('%', #{name}, '%')
      </if>
      <if test="remark != null">
        and sr.remark like concat('%', #{remark}, '%')
      </if>
      <if test="status != null">
        and sr.status like concat('%', #{status}, '%')
      </if>
      <if test="type != null">
        and sr.type like concat('%', #{type}, '%')
      </if>
    </where>
  </select>

</mapper>