<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fgo.saber.auth.provider.dao.UserMapper">
  <resultMap id="BaseResultMap" type="fgo.saber.auth.provider.model.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ${alias}.user_id, ${alias}.dept_id, ${alias}.mail, ${alias}.operate_ip, ${alias}.operate_time, ${alias}.operator, ${alias}.username, ${alias}.password, ${alias}.remark,
    ${alias}.status, ${alias}.telephone
  </sql>

  <select id="findUserList" resultType="fgo.saber.auth.api.dto.UserDto">
    select
      su.user_id userId, su.dept_id deptId, sd.name, su.mail, su.operate_time operateTime, su.username, su.remark, su.status, su.telephone
    from sb_user su
    left join sb_dept sd on sd.dept_id = su.dept_id
    <where>
      <if test="userParam.username != null">
        su.username like concat('%', #{userParam.username}, '%')
      </if>
      <if test="userParam.telephone != null">
        and su.telephone like concat('%', #{userParam.telephone}, '%')
      </if>
      <if test="userParam.mail != null">
        and su.mail like concat('%', #{userParam.mail}, '%')
      </if>
    </where>
  </select>

    <!--<select id="getUsersWithDeptId" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"><property name="alias" value="su"/></include>
      from sb_user su
      where su.dept_id = #{deptId}
    </select>-->

  <!--<select id="getUsersWithRoleId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"><property name="alias" value="su"/></include>
    from sb_user su
    inner join sb_user_role sur on su.user_id = sur.user_id
    where sur.role_id = #{roleId}
  </select>-->
</mapper>