<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fgo.saber.authr.service.dao.AppGatewaySettingMapper">
  <resultMap id="BaseResultMap" type="fgo.saber.authr.service.model.entity.AppGatewaySetting">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="gateway_id" jdbcType="BIGINT" property="gatewayId" />
    <result column="app_id" jdbcType="BIGINT" property="appId" />
    <result column="app_service_id" jdbcType="VARCHAR" property="appServiceId" />
    <result column="gateway_path" jdbcType="VARCHAR" property="gatewayPath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

	<resultMap id="AppNameResultMap" type="fgo.saber.authr.service.model.vo.AppGatewaySettingVO" extends="BaseResultMap">
		<result column="app_name" jdbcType="VARCHAR" property="appName" />
	</resultMap>

  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    gateway_id, app_id, app_service_id, gateway_path, create_time, update_time
  </sql>

	<sql id="Alias_Column_List">
		${alias}.gateway_id, ${alias}.app_id, ${alias}.app_service_id, ${alias}.gateway_path, ${alias}.create_time, ${alias}.update_time
	</sql>

	<select id="getAppGatewaySettingNav" resultMap="AppNameResultMap">
		select
		<include refid="Alias_Column_List">
			<property name="alias" value="ags"/>
		</include> , ai.app_name
		from app_gateway_setting ags
		left join app_info ai on ai.app_id = ags.app_id
		<where>
			<if test="appServiceId != null &amp; appServiceId != ''">
				ags.app_serviceId like concat('%', #{appServiceId} , '%')
			</if>
			<if test="gatewayPath != null &amp; gatewayPath != ''">
				ags.gateway_path like concat('%', #{gatewayPath} , '%')
			</if>
			<if test="appId != null &amp; appId != ''">
				ags.app_id = #{appId}
			</if>
		</where>
	</select>
</mapper>