<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fgo.saber.authr.service.dao.RoleResourceMapper">
  <resultMap id="BaseResultMap" type="fgo.saber.authr.service.model.entity.RoleResource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_resource_id" jdbcType="BIGINT" property="roleResourceId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="resource_id" jdbcType="BIGINT" property="resourceId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    role_resource_id, role_id, resource_id, create_time, update_time
  </sql>
</mapper>