<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fgo.saber.authr.service.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="fgo.saber.authr.service.model.entity.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="app_id" jdbcType="BIGINT" property="appId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
	  <result column="role_value" jdbcType="VARCHAR" property="roleValue" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

	<resultMap id="AppNameResultMap" type="fgo.saber.authr.service.model.vo.RoleVO" extends="BaseResultMap">
		<result column="app_name" jdbcType="VARCHAR" property="appName" />
	</resultMap>

  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    role_id, app_id, role_name, role_value, remark, status, type, create_time, update_time
  </sql>

	<sql id="Alias_Column_List">
		${alias}.role_id, ${alias}.app_id, ${alias}.role_name, ${alias}.role_value, ${alias}.remark, ${alias}.status, ${alias}.type, ${alias}.create_time, ${alias}.update_time
	</sql>

	<select id="getRoleNav" resultMap="AppNameResultMap">
		select
		<include refid="Alias_Column_List">
			<property name="alias" value="r"/>
		</include> , ai.app_name
		from role r
		left join app_info ai on ai.app_id = r.app_id
		<where>
			<if test="roleName != null &amp; roleName != ''">
				and r.role_name like concat('%', #{roleName} , '%')
			</if>
			<if test="status != null">
				and r.status = #{status}
			</if>

			<if test="appId != null &amp; appId != ''">
				and r.app_id = #{appId}
			</if>
			<if test="type != null">
				and r.type = #{type}
			</if>
		</where>
	</select>
</mapper>